.logo{
    color: darkkhaki;
}

.link-1{

      /* font-weight: 400; */
    font-size: 12px;

}

@media screen and (max-width:480px){
    .shadow{
        /* position: absolute; */
    }
    .socio-link{
        display: flex;
       
        padding: 1px;
        gap: 1rem;
        justify-content: space-between;
        
    }
    .link-1{
        
            font-size: 10px;
    }

    .box{
        
        display: flex;
       
        align-items: flex;
        padding: 1px;
        justify-content: space-between;
        font-size: 10px;
    }
    .right-ls{
        font-size: xx-small;
        /* gap: 2rem; */
    }
}